.app__navbar {
  width: 100%;
  display: flex;
  justify-self: space-between;
  align-items: center;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
}

.app__navbar-logo img {
  width: 150px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}