.app__navbar {
  /* min-width: 985px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  z-index: 2;
}

.app__navbar span {
  display: none;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.app__navbar-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  height: 100%;
  user-select: text;
  min-width: 253px;
}

.app__navbar-logo img {
  max-width: 100px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.75rem;
}

.app__navbar-links li {
  margin: 0 3rem;
  cursor: pointer;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

@media only screen and (max-width: 1023px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .app__navbar .responsive_nav {
    transform: none;
  }

  .app__navbar-links li {
    padding: 0.8rem 0;
  }

  .app__navbar-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    color: white;
    transition: 1s;
    transform: translateX(-100vw);
    z-index: 2;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: white;
  }
}