.product-card {
  display: block;
  border-radius: 16px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
  text-decoration: none;
  overflow: hidden;
}

.product-card {
  width: 250px;
  height: 165px;
}

.product-card__image img {
  max-width: 100%;
  object-fit: cover;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.22);
}

.product-card__content {
  display: flex;
  padding: 1rem 0;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.product-card__content div {
  display: flex;
  flex-direction: column;
}

.product-card__content__price {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 0.5rem;
  color: var(--black-2);
}

.product-card__content__title {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--black-2);
}

.product-card__content__desc {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--black-1);
}